<section class="bg-black py-2 text-white border-b border-gray-800 relative hidden md:block">
    <div class="container mx-auto flex items-center px-6 w-full">
        <!-- <div class="whitespace-nowrap absolute left-1/2 transform -translate-x-1/2 text-sm hidden md:block">
            <b class="textColorYellow">Promoção de Inverno:</b> Frete grátis nas compras acima de
            R$199,00!
        </div> -->
        <div class="ml-auto space-x-4 text-sm hidden lg:block">
            <a href="/ajuda" class="menuItem">Ajuda</a>
            <a href="/contato" class="menuItem">Contato</a>
            <a href="/sobre" class="menuItem">Sobre</a>
        </div>
    </div>
</section>