<div class="subComponent text-white shadow-lg h-12">
    <div class="container mx-auto flex justify-center items-center px-6 h-full">
        <div class="flex space-x-6 text-black">
            <!-- Botão de Categorias -->
            <button onclick="toggleCategoryAsideMenu()" class="menuItem">Categorias</button>
            <!-- Links Rápidos -->
            <div class="hidden sm:block space-x-6">
                <a href="/novidades" class="menuItem">Novidades</a>
                <a href="/mais-vendidos" class="menuItem">Mais
                    Vendidos</a>
                <a href="/promocoes" class="menuItem">Promoções</a>
            </div>
        </div>
    </div>
</div>