<header id="headerContent" class="bg-black text-white shadow-lg flex block items-center">
    <div
        class="container mx-auto py-4 px-6 flex flex-col cols-1 md:flex-row md:flex-row md:cols-2 items-center justify-between">
        <!-- Logo/Nome da Empresa -->
        <div class="flex-shrink-0 mb-4 lg:mb-0">
            <a class="flex items-center space-x-3" href="/admin">
                <img class="w-12 h-12" src="/public/images/logo/logo_dourado_preto_semTexto.jpeg"
                    alt="Sarah Ecommerce Logo">
                <div class="text-4xl font-bold tracking-wide textColorYellow">S A R A H</div>
            </a>
        </div>

        <!-- Botões de Navegação da Página Admin -->
        <div id="adminNavControls" class="w-full flex mx-auto md:ml-6 space-x-6 justify-center md:justify-end">
            <button id="toggleOptionsMenuSmallScreenButton" class="block md:hidden menuItem">Opções</button>
            <a href="/" class="menuItem">Sair das configurações</a>
        </div>
    </div>
</header>