*{
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

#headerContent{
    z-index: 100;
}

.header{
    background-color: #F7F7F7;
}

.menuItem:hover{
    color: #E9C495; 
    border-bottom-color: #E9C495;
}
.menuItem{
    padding-bottom: 1px;
    margin-bottom: 2px;
    box-sizing: border-box;
    border-bottom: 1px solid transparent; /* Espaço reservado para o border */
    transition: border-color 0.3s, color 0.3s; /* Suaviza a transição */
}

.textColorYellow{
    color: #E9C495; 
}

.error-message {
    color: red; /* Cor do texto de erro */
    font-size: 0.875rem; /* Tamanho menor para não se destacar demais */
}

input:focus{
    outline: black;
}

.imagemProdutoTelaPequena{
    height: 500px;
    object-fit: cover;
}

.custom-scrollbar::-webkit-scrollbar{
    display: none;
}

.sizeSelected{
    background-color: black;
    color: white;
}

/* Efeito de troca da imagem do botao de favorito na listagem de produtos */
.favorite-btn:hover .favorite-icon {
    display: none;
}
.favorite-btn:hover .favorite-icon-hover {
    display: block;
}
