<footer class="bg-black text-white items-end w-full">
    <div class="newsletterContainer">
        <h2>
            Receba ofertas e novidades por e-mail
        </h2>
        <div class="newsletterForm">
            <label for="newsletterName">Digite seu nome</label>
            <input type="text" name="newsletterName" id="newsletterName">
            <label for="newsletterEmail">E-mail</label>
            <input type="text" name="newsletterEmail" id="newsletterEmail">
            <button id="newsletterButton" class="newsletterButton">

            </button>
        </div>
    </div>
    <div class="container mx-auto text-center text-white p-6">
        <p>&copy; 2024 Sarah E-Commerce. Todos os direitos reservados.</p>
    </div>
</footer>