<footer class="text-white items-end w-full">
    <div class="newsletterContainer">
        <h2>
            Receba ofertas e novidades por e-mail
        </h2>
        <div class="newsletterForm">
            <label for="newsletterName">Digite seu nome: </label>
            <input type="text" name="newsletterName" id="newsletterName" placeholder="Digite seu nome: ">
            <label for="newsletterEmail">E-mail: </label>
            <input type="text" name="newsletterEmail" id="newsletterEmail" placeholder="Email: ">
            <button id="newsletterButton" class="newsletterButton">
                Inscrever-se
            </button>
        </div>
    </div>
    <div class="text-center text-white p-6 bg-black w-full">
        <p>&copy; 2024 Sarah E-Commerce. Todos os direitos reservados.</p>
    </div>
</footer>