<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SARAH</title>
    <link href="/public/css/pagePattern.css" rel="stylesheet">
    <link href="/public/css/tailwind/style.css" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <%- include('partials/_header') %>
        <main class="container mx-auto py-10 w-full xl:w-4/5 h-full flex-grow">
            <div class="m-auto">
                <h1>Tela em construção - LANDING PAGE</h1>
            </div>
        </main>

        <!-- Footer -->
        <%- include('partials/_footer') %>

            <script>
                // Obtem os dados enviados do backend e converte para JSON
                const data = JSON.parse('<%- JSON.stringify(data) %>');
                if (!data || !data.product || !data.user) {
                    console.error('Dados incompletos.');
                    window.location.href = "/error";
                }
                // Separa os dados em variáveis
                const user = data.user;
                const cart = data.user.cart || {};
                const wishlist = data.user.wishlist || {};
                const page = data.page
            </script>
            <script src="/public/js/categoryAsideMenu.js"></script>
            <script src="/public/js/header.js"></script>
            <script src="/public/js/loginAndRegister.js"></script>
</body>

</html>