<!-- Header -->
<div id="headerContent">
  <%- include('../partials/headerComponents/_promotionHeader') %>
    <header class="bg-black text-white shadow-lg flex block items-center">
      <div class="container mx-auto py-4 px-6 flex flex-col cols-1 lg:flex-row lg:cols-2 items-center">

        <!-- Logo/Nome da Empresa -->
        <div class="flex-shrink-0 mb-4 lg:mb-0">
          <a class="flex items-center space-x-3" href="/">
            <img class="w-12 h-12" src="/public/images/logo/logo_dourado_preto_semTexto.jpeg"
              alt="Sarah Ecommerce Logo">
            <div class="text-4xl font-bold tracking-wide textColorYellow">S A R A H</div>
          </a>
        </div>

        <!-- Barra de Pesquisa e Botões de Login/Carrinho -->
        <div class="w-full flex mx-auto lg:ml-6">
          <!-- Barra de Pesquisa -->
          <div id="searchBar" class="relative w-full md:flex-grow md:mx-auto">
            <form action="/search">
              <input type="text" placeholder="Buscar produtos..."
                class="w-full h-10 px-4 py-1 rounded-lg text-black pr-10">
              <button type="submit" class="absolute inset-y-0 right-0 flex items-center px-4 text-black">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M21 21l-4.35-4.35M17 11a6 6 0 11-12 0 6 6 0 0112 0z" />
                </svg>
              </button>
            </form>
          </div>

          <!-- Botões de Login/Carrinho -->
          <div id="userControlsContainer" class="flex flex-shrink-0 justify-center items-center mx-auto ml-5">
            <% if(data.user?.logged=='true' ){ %>
              <div class="md:hidden relative">
                <button id="menuUserOptionsSmallScreen">
                  <img src="/public/images/icons/menu_icon_white.svg" alt="menuIcon" class="w-8 h-8 mx-auto">
                </button>
                <div id="userOptionsDropdown"
                  class="hidden md:hidden absolute right-0 mt-2 p-4 w-36 bg-black shadow-lg min-h-fit">
                  <a href="/cart" class="block pb-2 text-white menuItem w-fit">Carrinho</a>
                  <a href="/user/favorites" class="block py-2 text-white menuItem w-fit">Favoritos</a>
                  <a href="/user/profile" class="block pt-2 text-white menuItem w-fit">Perfil</a>
                </div>
              </div>
              <div class="hidden md:flex relative space-x-6 ">
                <a href="/cart" class="relative inline-block">
                  <img id="cartIcon" src="/public/images/icons/shopping_cart_icon.svg" alt="Carrinho" class="w-8 h-8">
                  <span id="cartNumber"
                    class="hidden absolute top-0 right-0 transform -translate-x-1/2 -translate-y-1/2 bg-white text-black font-bold rounded-full w-4 h-4 flex items-center justify-center text-xs"></span>
                </a>
                <a href="/user/favorites" class="relative inline-block">
                  <img id="favoriteIcon" src="/public/images/icons/favorite_icon.svg" alt="Favoritos" class="w-8 h-8">
                </a>
                <a href="/user/profile" class="relative inline-block">
                  <img id="userIcon" src="/public/images/icons/user_icon.svg" alt="Perfil" class="w-8 h-8">
                </a>
              </div>
              <% } else { %>
                <button onclick="toggleLoginModal()" class="menuItem">Entre ou cadastre-se</button>
                <% } %>
          </div>
        </div>
    </header>
    <%- include('../partials/headerComponents/_subHeader') %>
      <%- include('../partials/headerComponents/_categoryAsideMenu') %>
        <%- include('../partials/headerComponents/_loginRegisterModal') %>
</div>